@charset "UTF-8";
@font-face {
  font-family: GothamPro;
  font-display: swap;
  src: url("../fonts/GothamPro-light.woff2") format("woff2"), url("../fonts/GothamPro-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: GothamPro;
  font-display: swap;
  src: url("../fonts/GothamPro.woff2") format("woff2"), url("../fonts/GothamPro.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: GothamPro;
  font-display: swap;
  src: url("../fonts/GothamPro-bold.woff2") format("woff2"), url("../fonts/GothamPro-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: GothamPro;
  font-display: swap;
  src: url("../fonts/GothamPro-medium.woff2") format("woff2"), url("../fonts/GothamPro-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Mulish;
  font-display: swap;
  src: url("../fonts/Mulish-Bold.woff2") format("woff2"), url("../fonts/Mulish-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Mulish;
  font-display: swap;
  src: url("../fonts/Mulish-Regular.woff2") format("woff2"), url("../fonts/Mulish-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Ovo;
  font-display: swap;
  src: url("../fonts/Ovo-Regular.woff2") format("woff2"), url("../fonts/Ovo-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
.link-btn::before, [class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow:before {
  content: "\e900";
}

._icon-cart:before {
  content: "\e901";
}

._icon-close:before {
  content: "\e902";
}

._icon-favorite:before {
  content: "\e903";
}

._icon-moveto:before {
  content: "\e904";
}

._icon-search:before {
  content: "\e905";
}

._icon-facebook:before {
  content: "\e906";
}

._icon-instagram:before {
  content: "\e907";
}

._icon-whatsapp:before {
  content: "\e908";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #231F20;
  line-height: 1;
  font-family: "GothamPro";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "GothamPro";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 65rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

h1 {
  font-family: Ovo, sans-serif;
  font-size: 3.5rem;
  line-height: 1.1428571429;
  font-weight: 400;
}

h2 {
  font-family: Ovo, sans-serif;
  font-size: 2.25rem;
  line-height: 1.1111111111;
  font-weight: 400;
}

h3 {
  font-family: GothamPro, sans-serif;
  font-size: 2rem;
  line-height: 1.25;
  font-weight: 500;
}

p {
  line-height: 1.5;
}
p_smoke {
  color: #939598;
  font-weight: 300;
}

.link-btn {
  position: relative;
  font-size: 0.875rem;
  line-height: 1.4285714286;
  font-weight: 500;
  border: 1px solid #231F20;
}
.link-btn::before {
  content: url(../img/icons/moveto.svg);
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translate(0px, -50%);
  color: #00BF86;
  opacity: 0;
  transition: all 0.6s ease 0s;
}
@media (any-hover: hover) {
  .link-btn:hover::before {
    opacity: 1;
    transform: translate(32px, -50%);
  }
}
.link-btn__color {
  color: white;
  border-color: #00BF86;
  background-color: #00BF86;
}
@media (any-hover: hover) {
  .link-btn__color:hover {
    background-color: #231F20;
  }
}
.link-btn__cart {
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions-counter {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  color: white;
  font-size: 0.625rem;
  border: 2px solid white;
  border-radius: 50%;
  background-color: #FF005C;
  /* @media (max-width: $mobile) {
     width: rem(16);
     height: rem(16);
     font-size: rem(10);
  } */
}

.logo-link {
  display: block;
  width: 100%;
  height: 100%;
}
@media (min-width: 47.99875em) {
  .logo-link {
    transform: translate(1rem);
  }
}

@media (min-width: 66.875em) {
  .header__container {
    padding-top: 2rem;
  }
}
@media (min-width: 20em) and (max-width: 66.875em) {
  .header__container {
    padding-top: clamp( 0.75rem , 0.2166666667rem  +  2.6666666667vw , 2rem );
  }
}
@media (max-width: 20em) {
  .header__container {
    padding-top: 0.75rem;
  }
}
@media (min-width: 66.875em) {
  .header__container {
    padding-bottom: 2rem;
  }
}
@media (min-width: 20em) and (max-width: 66.875em) {
  .header__container {
    padding-bottom: clamp( 0.75rem , 0.2166666667rem  +  2.6666666667vw , 2rem );
  }
}
@media (max-width: 20em) {
  .header__container {
    padding-bottom: 0.75rem;
  }
}
@media (max-width: 29.99875em) {
  .header__container {
    padding-left: 0.375rem;
    padding-right: 0.375rem;
  }
}
.header__body {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}
@media (max-width: 29.99875em) {
  .header__body {
    row-gap: 2.75rem;
  }
}
.header__top {
  position: relative;
  z-index: 10;
  display: grid;
  grid-template: 1fr/1fr auto 1fr;
}
.header__top::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: white;
}
.header__search {
  display: flex;
  align-items: center;
  grid-row: 1/2;
  grid-column: 1/2;
}
.header__logo {
  grid-row: 1/2;
  grid-column: 2/3;
  width: 13rem;
  height: 5rem;
}
@media (min-width: 66.875em) {
  .header__logo {
    width: 13rem;
  }
}
@media (min-width: 20em) and (max-width: 66.875em) {
  .header__logo {
    width: clamp( 6.5rem , 3.7266666667rem  +  13.8666666667vw , 13rem );
  }
}
@media (max-width: 20em) {
  .header__logo {
    width: 6.5rem;
  }
}
@media (min-width: 66.875em) {
  .header__logo {
    height: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 66.875em) {
  .header__logo {
    height: clamp( 2.5rem , 1.4333333333rem  +  5.3333333333vw , 5rem );
  }
}
@media (max-width: 20em) {
  .header__logo {
    height: 2.5rem;
  }
}
.header__actions {
  grid-row: 1/2;
  grid-column: 3/4;
}
.header__menu {
  background-color: white;
}
.header__mobile-search {
  cursor: pointer;
}
.header__mobile-search::before {
  padding: 0.25rem;
  font-size: 1.375rem;
  color: #A7A5A6;
}
@media (min-width: 47.99875em) {
  .header__mobile-search {
    display: none;
  }
}

@media (max-width: 47.99875em) {
  .search-header {
    position: absolute;
    z-index: -2;
    bottom: 0;
    left: 0;
    opacity: 1;
    visibility: visible;
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    border: 1px solid #231F20;
    padding: 0.25rem 0.5rem 0.25rem 6px;
    transition: all 0.3s ease 0s;
  }
  .search-header_active {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 120%);
  }
  .search-header__input {
    flex: 1 1 auto;
    outline: none;
  }
  .search-header__btn {
    position: relative;
    display: flex;
    flex: 0 0 1.5rem;
    justify-content: center;
    align-items: center;
  }
  .search-header__btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 5;
    width: 100%;
    height: 100%;
    background: white;
    background: linear-gradient(270deg, white 37%, rgba(255, 255, 255, 0) 100%);
  }
}
@media (min-width: 47.99875em) {
  .search-header {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding-right: 1rem;
    opacity: 1;
    visibility: visible;
  }
}
@media (min-width: 47.99875em) and (min-width: 66.875em) {
  .search-header {
    column-gap: 1.25rem;
  }
}
@media (min-width: 47.99875em) and (min-width: 20em) and (max-width: 66.875em) {
  .search-header {
    column-gap: clamp( 0.0625rem , -0.4441666667rem  +  2.5333333333vw , 1.25rem );
  }
}
@media (min-width: 47.99875em) and (max-width: 20em) {
  .search-header {
    column-gap: 0.0625rem;
  }
}
@media (min-width: 47.99875em) {
  .search-header::after {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 10;
    width: 20%;
    height: 100%;
    background: white;
    background: linear-gradient(270deg, white 37%, rgba(255, 255, 255, 0) 100%);
  }
}
@media (min-width: 47.99875em) {
  .search-header__btn {
    display: block;
  }
  .search-header__btn::before {
    padding: 0.25rem;
    font-size: 1.75rem;
    color: #A7A5A6;
  }
}
@media (min-width: 47.99875em) {
  .search-header__input {
    flex: 1 1 auto;
    outline: none;
  }
  .search-header__input::placeholder {
    color: #595758;
    font-size: 0.875rem;
    line-height: 1.2857142857;
  }
}

.actions-header {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 0.1875rem;
  padding-left: 1.25rem;
  background-color: white;
}
@media (min-width: 66.875em) {
  .actions-header {
    column-gap: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 66.875em) {
  .actions-header {
    column-gap: clamp( 0.375rem , -0.105rem  +  2.4vw , 1.5rem );
  }
}
@media (max-width: 20em) {
  .actions-header {
    column-gap: 0.375rem;
  }
}
@media (max-width: 47.99875em) {
  .actions-header {
    padding-left: 0.625rem;
  }
}
.actions-header__favorite, .actions-header__cart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 2rem;
  height: 2rem;
}
.actions-header__favorite span, .actions-header__cart span {
  bottom: 1px;
  right: 1px;
}
.actions-header__favorite::before, .actions-header__cart::before {
  color: inherit;
}
.actions-header__favorite {
  font-size: 1.3125rem;
}
.actions-header__cart {
  font-size: 1.5rem;
}

.menu-header__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 1.875rem;
  padding-left: 1.875rem;
}
@media (min-width: 66.875em) {
  .menu-header__list {
    column-gap: 4rem;
  }
}
@media (min-width: 20em) and (max-width: 66.875em) {
  .menu-header__list {
    column-gap: clamp( 0.75rem , -0.6366666667rem  +  6.9333333333vw , 4rem );
  }
}
@media (max-width: 20em) {
  .menu-header__list {
    column-gap: 0.75rem;
  }
}
@media (max-width: 29.99875em) {
  .menu-header__list {
    column-gap: 1.25rem;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
}
.menu-header__item {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.menu-header__link {
  position: relative;
  line-height: 1.5;
  transition: all 0.3s ease 0s;
}
@media (max-width: 47.99875em) {
  .menu-header__link {
    font-size: 1.125rem;
  }
}
@media (max-width: 29.99875em) {
  .menu-header__link {
    font-size: 1.25rem;
    word-spacing: 10%;
  }
}
.menu-header__link::before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translate(-50%) scale(0%);
  transition: all 0.3s ease 0s;
  width: 1.5rem;
  height: 0.125rem;
  background-color: #00BF86;
}
@media (max-width: 47.99875em) {
  .menu-header__link::before {
    bottom: -8px;
  }
}
.menu-header__link_active {
  text-shadow: 0px 0px 1px #231F20;
}
@media (max-width: 29.99875em) {
  .menu-header__link_active {
    text-shadow: 0px 0px 0.8px #231F20;
  }
}
.menu-header__link_active::before {
  transform: translate(-50%) scale(100%);
}
